* {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
    font-weight: 400;
}

/* Header-component */

.container {
  margin: 0 auto;
  max-width: 950px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.name-of-app {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4793FF;
}

.search-img {
  width: 20px;
  height: 20px;
}

.search-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    & input {
        border: none;
        outline: 0;
        padding: 8px 20px;
        font-size: 16px;
        background: rgb(222, 237, 243);
        border-radius: 30px;
    }

    & button {
        border: none;
        outline: 0;
        border-radius: 50%;
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
}


/* Main-component */

.main-container {
    margin: 0 auto;
    max-width: 950px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* WeatherDay-component */
.day-container {
    background: #FFFFFF;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.temp-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 67px;

    &_number {
        font-weight: 500;
        font-size: 96px;
        line-height: 117px;
        color: #4793FF;
    }

    &_weekday {
        font-size: 40px;
        line-height: 49px;
    }

}

.img-info {

    & img {
        width: 119px;
        height: 119px;
    }
}

.weather-city {
    font-size: 25px;
    line-height: 30px;
    color: #939CB0;
}

.error {
    font-style: italic;
    font-size: 25px;
    line-height: 30px;
    color: #cd0a00;
}

/* WeatherDetails-component */

.details-container {
    background: #FFFFFF;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    padding: 35px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_img {
        background: #FFFFFF;
        box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 25px;
            height: 25px;
        }
        
    }

    &_indicator {
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #939CB0;
        margin-right: 20px;
    }

    &_information {
        font-size: 14px;
        line-height: 17px;
    }
}

/* Weather Days-component */

.weather-container {
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 950px;
    padding-top: 50px;
}

.card {
    background: rgba(71, 147, 255, 0.2);
    border-radius: 10px;
    padding: 11px;
    width: 150px;
    margin-top: 10px;
    

    &_day {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 12px;
        cursor: pointer;
    }

    &_date {
        font-size: 14px;
        line-height: 17px;
        color: #939CB0;
        padding-top: 7px;
        padding-bottom: 12px;
    }

    & img {
        width: 48px;
        height: 48px;
        padding-bottom: 12px;
    }

    &_temp_max {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &_temp_min {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #939CB0;
    }
}

.forecast {
    width: 300px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    border: 3px solid rgb(85, 181, 228);
    position: fixed;
    top: 50%;
    left: calc(50% - 167px);
}


.details-forecast {
    display: flex;
    align-items: center;
}

.close-img {
    width: 15px;
    height: 15px;
}

.isloading {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.button-modal {
    border-radius: 20px;
    background:  rgb(85, 181, 228);
    border: none;
    outline: none;
    padding: 5px 8px;
    cursor: pointer;
}

/*AboutApp*/

.about-container {
    margin: 0 auto;
    max-width: 950px;
}

.about {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #003278;
    padding-top: 20px;
    text-align: center;

    &_header {
        font-size: 25px;
        line-height: 30px;
        padding-top: 20px;
    }

    &_list {
        padding-top: 20px;
        font-size: 20px;
        line-height: 24px;
    }

    &_list-item {
        padding-top: 10px;
    }
}

/*Header*/

.header {
    margin: 0 auto;
    max-width: 950px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #b1d1ff;
}

.link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

/*Adaptive*/

@media screen and (min-width: 320px) and (max-width: 450px) {
  .container {
    flex-wrap: wrap;
  }

  .search-info {
    margin-top: 15px;
  }

  .weather-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .temp-info {
    margin: 0;
    text-align: center;
  }

  .day-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-container {
    justify-content: center;
    gap: 5px;
  }
}